In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=100)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [3]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    datetime64[ns]
 2   tpep_dropoff_datetime  100 non-null    datetime64[ns]
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 14.2+ KB

In [5]:
print(pd.io.sql.get_schema(df.reset_index(), name='test.yellow_tripdata_2021_01'))

CREATE TABLE "test.yellow_tripdata_2021_01" (
"index" INTEGER,
  "VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

```bash
pip install sqlalchemy psycopg2-binary 
```

In [6]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [10]:
engine.connect()

In [11]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [12]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,False,False,False,False

In [14]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=10000)

In [15]:
df_iter

In [17]:
next(df_iter)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
10000,1,2021-01-01 13:52:39,2021-01-01 13:58:18,1,1.50,1,N,75,237,1,6.5,2.5,0.5,1.00,0.00,0.3,10.80,2.5
10001,2,2021-01-01 13:22:12,2021-01-01 13:38:29,3,3.57,1,N,237,158,2,-14.0,0.0,-0.5,0.00,0.00,-0.3,-17.30,-2.5
10002,2,2021-01-01 13:22:12,2021-01-01 13:38:29,3,3.57,1,N,237,158,2,14.0,0.0,0.5,0.00,0.00,0.3,17.30,2.5
10003,2,2021-01-01 13:01:20,2021-01-01 13:18:02,1,5.64,1,N,113,263,1,19.0,0.0,0.5,4.46,0.00,0.3,26.76,2.5
10004,2,2021-01-01 13:26:31,2021-01-01 13:32:09,1,0.99,1,N,236,237,1,6.0,0.0,0.5,1.86,0.00,0.3,11.16,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2021-01-01 19:49:41,2021-01-01 19:54:33,1,0.92,1,N,230,164,1,5.5,0.0,0.5,1.76,0.00,0.3,10.56,2.5
19996,2,2021-01-01 19:58:24,2021-01-01 20:10:51,1,1.77,1,N,234,114,1,10.0,0.0,0.5,2.00,0.00,0.3,15.30,2.5
19997,2,2021-01-01 19:26:54,2021-01-01 19:55:54,1,20.30,1,N,132,254,1,54.0,0.0,0.5,0.06,6.12,0.3,60.98,0.0
19998,2,2021-01-01 19:47:41,2021-01-01 20:19:42,1,11.41,1,N,132,17,1,35.0,0.0,0.5,10.00,0.00,0.3,45.80,0.0
19999,2,2021-01-01 19:40:57,2021-01-01 19:49:24,3,1.46,1,N,186,233,1,7.5,0.0,0.5,1.94,0.00,0.3,12.74,2.5

In [23]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
df.head(0).to_sql(name='yellow_tripdata_trip', con=engine, if_exists='replace', index=False)

0

In [20]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [21]:
from time import time

while True:
    try:
        start = time()

        chunk = next(df_iter)
        chunk.tpep_pickup_datetime = pd.to_datetime(chunk.tpep_pickup_datetime)
        chunk.tpep_dropoff_datetime = pd.to_datetime(chunk.tpep_dropoff_datetime)
        chunk.to_sql(name='yellow_tripdata_trip', con=engine, if_exists='append', index=False)
        
        print(f'Chunk loaded in {time() - start} seconds')
    except StopIteration:
        break

Chunk loaded in 1.118628978729248 seconds
Chunk loaded in 0.9837701320648193 seconds
Chunk loaded in 1.1444432735443115 seconds
Chunk loaded in 1.0756423473358154 seconds
Chunk loaded in 1.3252124786376953 seconds
Chunk loaded in 1.0160961151123047 seconds
Chunk loaded in 1.0572562217712402 seconds
Chunk loaded in 1.1095423698425293 seconds
Chunk loaded in 1.0156354904174805 seconds
Chunk loaded in 0.9694046974182129 seconds
Chunk loaded in 0.9648573398590088 seconds
Chunk loaded in 0.9712769985198975 seconds
Chunk loaded in 1.076103925704956 seconds
Chunk loaded in 1.0377717018127441 seconds
Chunk loaded in 0.9751713275909424 seconds
Chunk loaded in 1.0000574588775635 seconds
Chunk loaded in 0.98301100730896 seconds
Chunk loaded in 1.0801246166229248 seconds
Chunk loaded in 1.1390557289123535 seconds
Chunk loaded in 1.1120600700378418 seconds
Chunk loaded in 1.1499509811401367 seconds
Chunk loaded in 1.525325059890747 seconds
Chunk loaded in 1.1768934726715088 seconds
Chunk loaded in 1.3656995296478271 seconds
Chunk loaded in 0.969853401184082 seconds
Chunk loaded in 1.211183786392212 seconds
Chunk loaded in 1.323758840560913 seconds
Chunk loaded in 1.1310384273529053 seconds
Chunk loaded in 1.3578903675079346 seconds
Chunk loaded in 1.312560796737671 seconds
Chunk loaded in 1.3299357891082764 seconds
Chunk loaded in 1.239384651184082 seconds
Chunk loaded in 1.2870948314666748 seconds
Chunk loaded in 1.4712376594543457 seconds
Chunk loaded in 1.47147536277771 seconds
Chunk loaded in 1.0291500091552734 seconds
Chunk loaded in 1.120819091796875 seconds
Chunk loaded in 1.0694265365600586 seconds
Chunk loaded in 1.151623010635376 seconds
Chunk loaded in 1.1669740676879883 seconds
Chunk loaded in 1.0689427852630615 seconds
Chunk loaded in 1.238224744796753 seconds
Chunk loaded in 1.1448473930358887 seconds
Chunk loaded in 1.347123622894287 seconds
Chunk loaded in 1.181126356124878 seconds
Chunk loaded in 1.1326038837432861 seconds
Chunk loaded in 1.1346678733825684 seconds
Chunk loaded in 1.1742193698883057 seconds
Chunk loaded in 1.343945026397705 seconds
Chunk loaded in 1.1943154335021973 seconds
Chunk loaded in 1.0524487495422363 seconds
Chunk loaded in 1.0542383193969727 seconds
Chunk loaded in 1.2220487594604492 seconds
Chunk loaded in 1.2097301483154297 seconds
Chunk loaded in 1.2902381420135498 seconds
Chunk loaded in 1.2476089000701904 seconds
Chunk loaded in 1.16102933883667 seconds
Chunk loaded in 1.0557894706726074 seconds
Chunk loaded in 1.2349846363067627 seconds
Chunk loaded in 1.2459392547607422 seconds
Chunk loaded in 1.212301254272461 seconds
Chunk loaded in 1.4667274951934814 seconds
Chunk loaded in 1.3022799491882324 seconds
Chunk loaded in 1.2373385429382324 seconds
Chunk loaded in 1.1502084732055664 seconds
Chunk loaded in 1.1884517669677734 seconds
Chunk loaded in 1.187457799911499 seconds
Chunk loaded in 1.0720975399017334 seconds
Chunk loaded in 1.1321017742156982 seconds
Chunk loaded in 1.188807725906372 seconds
Chunk loaded in 1.1539342403411865 seconds
Chunk loaded in 1.1276016235351562 seconds
Chunk loaded in 1.1425178050994873 seconds
Chunk loaded in 1.5915825366973877 seconds
Chunk loaded in 1.2508540153503418 seconds
Chunk loaded in 1.1369996070861816 seconds
Chunk loaded in 1.219576120376587 seconds
Chunk loaded in 1.2323250770568848 seconds
Chunk loaded in 1.5384759902954102 seconds
Chunk loaded in 1.0624134540557861 seconds
Chunk loaded in 1.006314754486084 seconds
Chunk loaded in 1.1212925910949707 seconds
Chunk loaded in 1.0668790340423584 seconds
Chunk loaded in 1.0546936988830566 seconds
Chunk loaded in 1.007399320602417 seconds
Chunk loaded in 1.0241734981536865 seconds
Chunk loaded in 1.2145533561706543 seconds
Chunk loaded in 1.0641241073608398 seconds
Chunk loaded in 1.069324254989624 seconds
Chunk loaded in 1.0766370296478271 seconds
Chunk loaded in 1.0691978931427002 seconds
Chunk loaded in 1.111271619796753 seconds
Chunk loaded in 1.1244540214538574 seconds
Chunk loaded in 1.2999911308288574 seconds
Chunk loaded in 1.2134246826171875 seconds
Chunk loaded in 1.1768450736999512 seconds
Chunk loaded in 1.1779627799987793 seconds
Chunk loaded in 1.560851812362671 seconds
Chunk loaded in 2.1496760845184326 seconds
Chunk loaded in 1.757122278213501 seconds
Chunk loaded in 1.6379845142364502 seconds
Chunk loaded in 1.5078144073486328 seconds
Chunk loaded in 1.5188095569610596 seconds
Chunk loaded in 1.689851999282837 seconds
Chunk loaded in 1.4883859157562256 seconds
Chunk loaded in 1.8410890102386475 seconds
Chunk loaded in 1.167245626449585 seconds
Chunk loaded in 1.3216238021850586 seconds
Chunk loaded in 1.1441843509674072 seconds
Chunk loaded in 1.2614779472351074 seconds
Chunk loaded in 1.4157147407531738 seconds
Chunk loaded in 1.0713081359863281 seconds
Chunk loaded in 1.3248634338378906 seconds
Chunk loaded in 1.3446719646453857 seconds
Chunk loaded in 1.2700343132019043 seconds
Chunk loaded in 1.6891207695007324 seconds
Chunk loaded in 1.2362821102142334 seconds
Chunk loaded in 1.3988864421844482 seconds
Chunk loaded in 1.3182902336120605 seconds
Chunk loaded in 1.3247387409210205 seconds
Chunk loaded in 1.3491692543029785 seconds
Chunk loaded in 1.2476751804351807 seconds
Chunk loaded in 1.362818717956543 seconds
Chunk loaded in 1.2244477272033691 seconds
Chunk loaded in 1.4105806350708008 seconds
Chunk loaded in 1.3432161808013916 seconds
Chunk loaded in 1.3118927478790283 seconds
Chunk loaded in 1.160705804824829 seconds
Chunk loaded in 1.2239160537719727 seconds
Chunk loaded in 1.2165894508361816 seconds
Chunk loaded in 1.1963624954223633 seconds
Chunk loaded in 1.5846660137176514 seconds
Chunk loaded in 1.3827552795410156 seconds
Chunk loaded in 1.1665172576904297 seconds
Chunk loaded in 1.3095183372497559 seconds

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/

In [22]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,False,False,False,False